.container-card{
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background-color: #17202a;
  -webkit-box-shadow: 0px 0px 34px -8px rgba(23,32,42,1);
  -moz-box-shadow: 0px 0px 34px -8px rgba(23,32,42,1);
  box-shadow: 0px 0px 34px -8px rgba(23,32,42,1);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25%,1fr));
  text-align: center;
  margin-bottom: 5px
}
.container-text-card{
  width: 100%;
  height: 30px;
}
.itemes-card{
  display: none;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 14pt;
  line-height: 50px;
}
#Investment{
  color: #78909C
}
#id{
  color: #29B6F6
}
#earnings{
  color: #8BC34A
}
.value-card{
  font-family: 'Quicksand';
  font-size: 14pt;
  line-height: 50px;
}

@media screen and (max-width: 768px) {
  .container-card{
    height: 200px;
    display: block;
  }
  .itemes-card{
    display: block;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14pt;
    line-height: 50px;
  }
  .container-text-card{
    width: 95%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 0px 15px;
  }
}
