.container-dashborad{
  padding-top: 20px;
  width: 100%;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
.header-titles-dashborad{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: 50px;
  align-items: center;
}
.header-value-details{
  text-align: center;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 14pt;
}
.container-dashborad > .subtitle-session{
  margin-top: 15px;
  margin-bottom: 40px;
}
.grid-dashborad{
  display: grid;
  grid-auto-rows: auto;
  max-height: 50vh;
  min-height: 50vh;
  overflow: auto;
}
@media screen and (max-width: 768px) {
  .header-titles-dashborad, .header-value-details{
    display: none
  }
  .grid-dashborad{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    grid-column-gap:  5px;
  }
}
@media screen and (max-width: 620px) {
  .grid-dashborad{
    grid-template-columns: 1fr;
  }
  .container-dashborad > .subtitle-session{
    text-align: center;
  }
}
