.container-details-transactions{
  width: 100%;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 50px;
}
.header-titles-details{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 50px;
  align-items: center;
}
.header-value-details{
  text-align: center;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 14pt;
}
.grid-details{
  display: grid;
  grid-auto-rows: auto
}
.container-details-transactions > .subtitle-session{
  margin-top: 20px;
  margin-bottom: 50px;
}
.details-id{
  color: #29B6F6;
  font-family: 'Montserrat';
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  .header-value-details, .header-titles-details{
    display: none
  }
  .grid-details{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 250px;
    grid-column-gap:  5px;
  }
}
@media screen and (max-width: 620px) {
  .grid-details{
    grid-template-columns: 1fr;
    grid-auto-rows: auto
  }
}
