.show-grid {
  margin: 0;
}

#outlined-coin-native-simple {
  background-color: #f7f1f129;
  font-size: 15px;
  color: #fff;
  padding-top: 5px;
  font-family: 'Montserrat';
  font-weight: bold;
}

#outlined-coin-native-simple option {
  color: #000;
}

.grid-settings{
  display: grid;
  grid-auto-rows: auto;
  max-height: 50vh;
  min-height: 35vh;
  overflow: auto;
}

 /* General */

.grid-general {
  margin-top: 60px;
  display: grid;
  grid-template-columns: 50% 60%;
  grid-template-rows: 50px 50px 50px 50px 40px;
}


@media screen and (max-width: 768px) {
  .header-titles-settings, .header-value-details{
    display: none
  }
}

@media screen and (max-width: 620px) {
  .grid-settings{
    grid-template-columns: 1fr;
    height: 10px;
  }

.container-settings > .subtitle-session{
  text-align: center;
  }
}

.grid-settings-title {
  width: 100%;
  height: 50px;
  display: grid;
  grid-template-columns: 30% 40% 30%;
  text-align: center;
  vertical-align: middle;
  margin-top: 50px;
}

.container-settings{
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background-color: #17202a;
  -webkit-box-shadow: 0px 0px 34px -8px rgba(23,32,42,1);
  -moz-box-shadow: 0px 0px 34px -8px rgba(23,32,42,1);
  box-shadow: 0px 0px 34px -8px rgba(23,32,42,1);
  display: grid;
  grid-template-columns: 30% 40% 30%;
  text-align: center;
}

.container-title-settings {
  display: flex;
}

.button-add {
  width: 60px;
  max-width: 320px;
  height: 40px;
  border: none;
  border-radius: 15px;
  background: #64C0EA;
  text-align: center;
  line-height: 40px;
  color: #FFF;
  font-family: 'Montserrat';
  font-weight: 600;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

.button-remove {
  margin-top: 5px;
  width: 80px;
  max-width: 320px;
  height: 40px;
  border: none;
  border-radius: 15px;
  background: #64C0EA;
  text-align: center;
  line-height: 40px;
  color: #FFF;
  font-family: 'Montserrat';
  font-weight: 600;
  font-weight: bold;
}

.add-currency-form {
  width: 100%;
  color: blue;
  margin-right: 100px;
  margin-top: 65px;
  text-align: center;
}

.settings {
  text-align: right;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 14pt;
  padding: 10px 10px;
  margin-right: 50px;
}

.settings-input {
  width: 100px;
  height: 25px;
  border-radius: 15px;
  font-size: 15px;
  text-align: center;
  border: none;
  margin-top: 6px;
}

.switch-on {
  color: green;
  margin-left: 20px;
  font-weight: bold;
  border-radius: 15px;
}

.switch-off {
  color: red;
  font-weight: bold;
  border-radius: 15px;
}

.grid-container {
  grid-auto-rows: 45%;
}

.verbosity {
  display: inline-block;
  width: 120%;
  margin-left: 0;
}

.tab {
  font-weight: bold;
}


#menu [class*="MuiTab-root"] {
  height: 65px;
  line-height: 65px;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 18pt;
  min-width: 100px;
  text-align: center;
  display: inline-block;
  color: #bdbdbd;
  text-decoration: none;
  text-transform: none;
}

#menu [class*="MuiTabs-flexContainer"] {
  background-color: #252A38;
  border-style: hidden;
}

#menu [class*="TabIndicator-root"] {
  border-bottom: 2px #29B6F6 solid;
}

#menu {
  box-shadow: none;
}

#menu [class*="MuiFilledInput-underline"] {
  border-bottom: none;
}

form [class*="MuiSelect-icon"] {
  color: #fff;
}

form [class*="MuiFormLabel"] {
  line-height: 0;
}

form [class*=".MuiInputBase-input"] {
  display: inline-block;
}

form [class*="MuiInputLabel-outlined"] {
  height: 10px;
  width: 100%;
}

form [class*="MuiFormLabel-root"] {
  font-size: 2rem;
  color: white;
}

form [class*="MuiSelect-select"] {
  width: 100%;
  box-sizing: border-box;
  height: 40px;
}

form [class*="MuiSelect-select"], form [class*="MuiSelect-select"]:focus {
  border-radius: 15px;
}

.subtitle-session{
  margin-top: 15px;
  margin-bottom: 40px;
}

.icon-back {
  margin-top: 20px;
}

.selector {
  display: inline-block;
  vertical-align: middle;
  height: 10%;
  width: 100%;
}

.formControl {
  display: inline-block;
  vertical-align: middle;
  width: 20%;
}

.input-label {
  width: calc(100% - 28px);
  font-size: 20px;
  text-decoration-style: double;
  text-align: left;
  border-radius: 15px;
}

.filled {
  width: 100%;
}

.header-titles-settings {
  margin-top: 50px;
}

.box-titles-tabs-settings {
  display: flex;
  width: 100%;
  margin-left: 340px;
}

.title-tab-settings{
  width: 170px;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 18pt;
  cursor: pointer ;
  color: #bdbdbd;
  text-align: center;
  height: 50px;
}

.title-tab-settings-on{
  width: 170px;
  color: #29B6F6;
  border-bottom: solid #29B6F6 1px;
  text-align: center;
  border-bottom: 2px #29B6F6 solid;
}

.box-titles-tabs{
  display: inline-block;
  width: 100%;
  max-width: 500px;
  justify-content: space-between;
  margin-top: 20px;
}

.checkbox-inline {
  font-size: 15px;
  height: 10px;
  width: 60px;
  padding-left: 0;
}

div [class*="MuiSwitch-icon"] {
  color: #fff;
}

div [class*="MuiSwitch-icon"], div [class*="MuiSwitch-icon"]:focus {
  color: #29b6f6;
  margin-left: -30px
}

div [class*="MuiSwitch-switchBase"] {
  width: 50px;
  height: 50px;
}

div [class*="MuiSwitch-switchBase"]:hover {

}

div [class*="MuiSwitch-colorPrimary"] {
  color: #000;
}

div [class*="MuiSwitchBase-input"] {
  margin-left: 50px;
}

div [class*="MuiSwitch-root"] {
  width: 30px !important;
}

.settings-range {
  display: inline-block;
  margin-top: 16px;
  margin-left: 5px;
  font-size: 18px !important;
}

.settings-slider {
  display: inline-flex;
}

.slider-range {
    -webkit-appearance: none;
    width: 100px !important;
    height: 10px;
    border-radius: 15px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-top: 10px;
    display: inline-block;
}

.slider-range:hover {
    opacity: 1;
}

.slider-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #64C0EA;
    cursor: pointer;
}

.slider-range::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #64C0EA;
    cursor: pointer;
}

.button-option {
  width: 80px;
  max-width: 320px;
  height: 30px;
  border: none;
  border-radius: 15px;
  background: #64C0EA;
  text-align: center;
  line-height: 30px;
  color: #FFF;
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 600;
  font-weight: bold;
  display: inline-block;
  margin-right: 30px;
}

.settings-buttons {
  text-align: center;
  display: flex;
  margin-left: 60px;
  padding: 10px;
}

.settings-options .cancel {
  padding: 10px 10px;
}

.settings-options .save {
  padding: 10px 10px;
}

/* SWITCH */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 7px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #64C0EA;
}

input:focus + .slider {
  box-shadow: 0 0 1px #64C0EA;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 30px;
}

.slider.round:before {
  border-radius: 50%;
}
